
/*Estilo del titulo*/
#titulo{
    height: 30px;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}

/*Estilo de la pagina*/
body {
    background: pink;
}

/*Estilo del boton*/
.boton{

    width: auto;
    height: auto;
    font-size: 25px;
    background-color: white;
    border-radius: 10px;
}

#miBoton{
    text-align: center;
}
